*{
  background: transparent;

}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

button.active {
  background-color: green;
  color: white;
}

div {
  margin: 2px;
  padding: 2px;
}
div.active{
  background-color: white;
}
