/*div {*/
/*  font-size: 16px;*/
/*  padding: 10px;*/
/*  cursor: pointer;*/
/*  background-color: lightgray;*/
/*}*/

/*https://uiverse.io/lenfear23/terrible-walrus-31*/

input{
  height: 50px;
  width: 50px;
}
div{
  background:  aqua;
}
