<main class="main" >

  <app-play-button></app-play-button>
  <app-play-field></app-play-field>



  <script>
    const beat1 = 'src/assets/kit/808_2.wav'
    const beat2 = 'src/assets/kit/hat.wav'
    const beat3 = 'src/assets/kit/808_O.wav'
    const beat4 = 'src/assets/kit/soda-bottle-base-drum-46019.mp3'
    const beatMap = new Map
    beatMap.set(1,beat1)
    beatMap.set(2,beat2)
    beatMap.set(3,beat3)
    beatMap.set(4,beat4)
    // const bar1 = [0,0,0,0,0,0,0,0]
    // const bar2 = [0,0,0,0,0,0,0,0]
    // const bar3 = [0,0,0,0,0,0,0,0]
    // const bar4 = [0,0,0,0,0,0,0,0]

    const bar1 = [1,1,1,1,1,1,1,1]
    const bar2 = [1,1,1,1,1,1,1,1]
    const bar3 = [1,0,1,0,1,0,1,0]
    const bar4 = [1,1,1,1,1,1,1,1]

    const bars =new Map()
    bars.set(bar1,beat1)
    bars.set(bar2,beat2)
    bars.set(bar3,beat3)
    bars.set(bar4,beat4)

    const button = document.getElementById('startPlayButton');
    button.addEventListener('click', () => {
      if (play) {
        play()
        play = false
        button.textContent = '▶️';
      } else {
        play = intervalTimer(step,bpmInMs)
        button.textContent = '⏸️';
      }
    });

    function step(){
      updateStyle()
      bars.forEach((beat,barArray) => {
        if(barArray[currentStep]){
          doBeat(beat)
        }
      });
      (currentStep>6) ? currentStep = 0 : currentStep++
    }

    function doBeat(beat){
      const audio = new Audio(beat);
      console.log("BEAT");
      audio.play();
    }



    const barButtons = document.querySelectorAll('.grid button');
    barButtons.forEach(button => {
      button.addEventListener('click', () => {
        const buttonId = button.getAttribute('id');
        console.log(`Button ${buttonId} clicked`);
        console.log(`Button ${button.dataset.toggled}`);
        button.dataset.toggled==="true" ? button.dataset.toggled=false : button.dataset.toggled=true
      });
    });
  </script>


</main>

<router-outlet />
