.outer{
  margin: 12px;
  padding: 12px;
  display: inline-block;
  background: #383838;
  background: linear-gradient(320deg, rgba(56, 56, 56, 1) 0%, rgba(74, 74, 74, 1) 80%);
  border-radius: 6px;
  box-shadow:5px 7px 6px -5px inset #6a6a6a, 6px 6px  15px 2px black;
  width: 1450px;
}
