@font-face {
  font-family: 'LED Calculator';
  font-style: normal;
  font-weight: 400;
  src: local('LED Calculator'), url('https://fonts.cdnfonts.com/s/71632/LEDCalculator.woff') format('woff');
}
* {
  background: transparent;
}
body{
  background: #2c2c2c;
}
